body
{
    background-image: url('../Images/fond3.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
}

.BoutonOffre
{
    background-image: url('../Images/bouton.jpeg'); 
    color: white;
    font-weight: bold;
    font-family: "Times New Roman";
    width: 20%;
    margin-right: 1.5%
}

.BoutonOffre:hover
{
    color:#8F0700;
    transition-duration:0.3s;
}

.center
{
    text-align: center;
    margin-top: 10%;
}

.Nomoffre
{    
    font-size: 3em;
}

.DebutOffre
{
    font-size: 2em;
}

.NbPoste
{
    font-size: 2em;
    float: right;
}

.Offre
{
    color: white;
    text-align: center;
    background-image:linear-gradient(#63000A, #8F0029); 
    width: 30%;
}

.connexion
{
    color: white;
    font-size: 2em;
}

.navbar-brand
{
    font-size: 2em;    
}

_   _   _   _   _   _   _   _   _   _  

.menu li
{
    display: inline-block;
}

.menu ul /*Cache le menu déroulant tant que la souris n'est pas dessus et met en place couleur, taille...*/
{
    position: absolute;
    text-align: left;
    z-index: 1;
    max-height:0em;
    overflow:hidden;
    transition: 0.5s max-height;
}

.menu li:hover ul /*Affiche le menu*/
{
    max-height: 10em;
    transition-duration: 1s;
}

.menu ul li 
{
    display: inherit;
}